torch>=2.2.0
transformers>=4.40.0
peft>=0.10.0
flask>=3.0.0
flask_cors>=4.0.0
accelerate>=0.28.0
numpy>=1.24.0
datasets
pytest
pytest-cov
celery
redis
psycopg2-binary>=2.9
langdetect
fastapi
uvicorn
python-multipart
sqlalchemy
alembic
python-jose[cryptography]
python-dotenv>=1.0.0
openai>=1.0.0
git+https://github.com/ethicalabs-ai/Echo-DSRN.git
